body {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    color: #000;
    background: #fff;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 21px;
}

// Отключаем hover при скроле
.disable-scroll-hover,
.disable-scroll-hover * {
    pointer-events: none !important;
}